<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyPortfolio | {{ headerTitle }}</title>
    <script type="text/javascript">
        tinymce.init({
            selector: '#answer',
            height: 500,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help', 'save', 'insertdatetime', 'quickbars', 'codesample'
            ],
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'PHP', value: 'php' },
                { text: 'Ruby', value: 'ruby' },
                { text: 'Python', value: 'python' },
                { text: 'Java', value: 'java' },
                { text: 'C', value: 'c' },
                { text: 'C#', value: 'csharp' },
                { text: 'C++', value: 'cpp' }
            ],
            toolbar: 'undo redo | styles | bold italic underline | align | ' +
                'bullist numlist outdent indent | codesample blockquote link table | image media fullscreen | preview save print | ' +
                'insertdatetime | forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
        });
    </script>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    <main class="add-question">
        {{#if _id}}
        <h2>Update Question</h2>
        {{else}}
        <h2>Add Question</h2>
        {{/if}}
        {{#if messageStatus}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{messageStatus}}</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        {{#if _id}}
        <form action="/editq?_id={{_id}}&topic={{ topic }}" method="post" class="add-question-container">
            <div class="topics">
                <label for="topics">Topic<span>*</span></label>
                <select name="topic" id="topics" disabled>
                    <option value="{{ topic }}">{{ title }}</option>
                </select>
            </div>
            <label for="question">Question<span>*</span></label>
            <textarea id="question" cols="" rows="5" name="question" required>{{ question }}</textarea>
            <label for="answer">Answer<span>*</span></label>
            <textarea id="answer" cols="30" rows="10" name="answer" required>{{ answer }}</textarea>
            <button type="submit">Update</button>
        </form>
        {{else}}
        <form action="/addq" method="post" class="add-question-container">
            <div class="topics">
                <label for="topics">Topic<span>*</span></label>
                <select name="topic" id="topics">
                    <option value="advanced-networking">Advanced Networking</option>
                    <option value="network-security">Network Security</option>
                    <option value="iot-&-embedded-system">IoT &amp; Embedded System</option>
                    <option value="machine-learning">Machine Learning</option>
                    <option value="deep-learning">Deep Learning</option>
                    <option value="electronics">Electronics</option>
                </select>
            </div>
            <label for="question">Question<span>*</span></label>
            <textarea id="question" cols="" rows="5" name="question" required
                placeholder="What is Networking?"></textarea>
            <label for="answer">Answer<span>*</span></label>
            <textarea id="answer" cols="30" rows="10" name="answer"
                placeholder="Computer networking refers to interconnected computing devices that can exchange data and share resources with each other."></textarea>
            <button type="submit">Submit</button>
        </form>
        {{/if}}
    </main>
    {{> footer}}
</body>

</html>