<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyLibrary</title>
    <style>
        .box-container {
            margin: 0 15%;
            padding: 20px;
        }

        p {
            margin: 10px 0 20px 20px;
        }

        @media (max-width: 768px) {
            .box-container {
                padding: 10px;
                margin: 0;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    <main>
        <div class="box-container">
            {{#if questions}}
            {{#each questions}}
            <h3>{{math @index "+" 1}}. {{question}}</h3>
            <p id="content{{math @index '+' 1}}"></p>
            <script>
                document.getElementById('content{{math @index "+" 1}}').innerHTML = marked.parse(`{{{ answer }}}`);
            </script>
            {{/each}}
            {{/if}}
        </div>
    </main>
</body>

</html>