<nav>
    <input type="checkbox" id="check">
    <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
    {{#if isAuthenticated}}
    <label class="logo"><a href="/library" class="{{active.index}}"><i class="bi bi-person-circle"></i>MyPortfolio</a></label>
    {{else}}
    <label class="logo"><a href="/" class="{{active.index}}"><img src="images/library-icon.png" alt="LibraryIcon">MyPortfolio</a></label>
    {{/if}}

    <ul>
        <li><a class="{{active.index}}" href="/" id="home">Home</a></li>
        <li><a href="/about" id="" class="{{active.about}}">About</a></li>
        <li><a href="/resume" id="" class="{{active.resume}}">Resume</a></li>
        <li><a href="/contact" id="" class="{{active.contact}}">Contact</a></li>
        {{#if isAuthenticated}}
        <li><a href="/library" id="library" class="{{active.library}}">Library</a></li>
        <li><a href="/logout" id="logout">logout</a></li>
        {{else}}
        <li><a href="/login" id="login">login</a></li>
        {{/if}}
    </ul>
</nav>
<script src="jscript/script.js"></script>